{% extends "base.html" %}
{% load static %}
{% load i18n %}


        {% block body %}
        
            <div class="container-fluid allauth-header ms-5 g-0">
                <strong>{% trans "Menu:" %}</strong>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'account_email' %}">{% trans "Change Email" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        
        <div class="container-fluid ms-5 g-0">
            {% block content %}
            {% endblock content %}
        </div>
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}

