@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

$color-blue: #143e7a;
$color-red: #b3110f;
$color-pale-blue: #c9dfec;
$color-light: #f9f3f3;
$color-dark: #10122b;
$stripe-bg: linear-gradient(#294f8d 25%, #123056 50%, #d23836 50%, #840c0d 100%);


body {
    background-color: $color-light;
    color: $color-dark;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.logo-font {
    font-family: 'Graduate', serif;
}

main {
    min-height: 100svh;
}

/*------------------------------------- Header ------------------------ */

#topnav {
    background: $stripe-bg;
    height: 96px;
    align-content: center;
}

.title {
    color: $color-pale-blue;
    font-size: 4rem;
    text-shadow: 2px 2px $color-dark;
}

.account-div {
    color: $color-pale-blue;
    p {
        text-shadow: 2px 2px $color-dark;
        font-weight: 700;
    }
    i {
         font-size: 24px;
    }
}

.color-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96px;
    background: $stripe-bg;
}

.navbar-toggler, .custom-toggler-icon {
    color: $color-pale-blue;
}

.navbar-toggler {
    border: 1px solid $color-pale-blue;
}

#main-nav {
    z-index: 1;
}

.main-nav-link {
    margin-left: 10px;
}

@media (min-width: 992px){
    .navbar {
        background-color: $color-pale-blue;
        padding: 0;
    }
    .nav-btn {
        background-color: #c9dfec;
        border-radius: 5px;
        color: #10122b;
        position: relative;
        text-align: center;
        text-decoration: none;
        z-index: 1;
        text-shadow: 1px 1px $color-pale-blue;
    }
      
    .nav-btn:before {
        content: "";
        display: block;
        background-color: #c9dfec;
        position: absolute;
        top: -5px;
        left: -5px;
        bottom: -5px;
        right: -5px;
        z-index: -1;
        border-radius: 10px;
        background-image: linear-gradient(to bottom, #ccdff0 0%, #6997bb 40%);
        box-shadow: 0px -1px 2px 0 #065881 inset, 
                    0px 1px 1px 1px #ccc;
    }
      
    .nav-btn:hover {
        background: #6997bb;
    }
      
    .nav-btn:hover:before {
        background-image: linear-gradient(to bottom, #c9dfec 0%, #0082C6 40%);
    }
}


@media (max-width: 991px){
    /* Move nav down slightly to avoid unsightly overlap with coloured header background */
    nav {
        top: 3px;
    }
    /* Move menu left to prevent overflow off screen */
    #user-options-dropdown {
        left: -30px;
    }
    /* Add background to dropdown menu to match page background */
    .bg-pale {
        background-color: $color-light;
    }
}

/*---------------------- Footer ---------*/

footer {
    background: $stripe-bg;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 96px;
    color: $color-light;
    font-family: 'Graduate', serif;
    text-shadow: 1px 1px $color-dark;
    .copyright a {
        text-decoration: none;
        color: $color-pale-blue;
        font-weight: 700;
    }
}

/*---------------------- Homepage ------------*/

.header-container {
    margin-top: 260px;
}

/* ---- */

.page-header {
    margin-top: 65px;
}