* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.color-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96px;
    background: linear-gradient(#143e7a 50%, #b3110f 50%);
}

#topnav {
    background: linear-gradient(#143e7a 50%, #b3110f 50%);
    height: 96px;
}

@media (min-width: 992px){
    .navbar {
        background-color: #c9dfec;
    }
    .nav-item > a {
        color: #10122b;
    }
}

.nav-link {
    color: #10122b;
}

.navbar-toggler, .custom-toggler-icon {
    color: #c9dfec;
}

.navbar-toggler {
    border: 1px solid #c9dfec;
}
