@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #f9f3f3;
  color: #10122b;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.logo-font {
  font-family: "Graduate", serif;
}

main {
  min-height: 100svh;
}

/*------------------------------------- Header ------------------------ */
#topnav {
  background: linear-gradient(#294f8d 25%, #123056 50%, #d23836 50%, #840c0d 100%);
  height: 96px;
  align-content: center;
}

.title {
  color: #c9dfec;
  font-size: 4rem;
  text-shadow: 2px 2px #10122b;
}

.account-div {
  color: #c9dfec;
}
.account-div p {
  text-shadow: 2px 2px #10122b;
  font-weight: 700;
}
.account-div i {
  font-size: 24px;
}

.color-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  background: linear-gradient(#294f8d 25%, #123056 50%, #d23836 50%, #840c0d 100%);
}

.navbar-toggler, .custom-toggler-icon {
  color: #c9dfec;
}

.navbar-toggler {
  border: 1px solid #c9dfec;
}

#main-nav {
  z-index: 1;
}

.main-nav-link {
  margin-left: 10px;
}

@media (min-width: 992px) {
  .navbar {
    background-color: #c9dfec;
    padding: 0;
  }
  .nav-btn {
    background-color: #c9dfec;
    border-radius: 5px;
    color: #10122b;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    text-shadow: 1px 1px #c9dfec;
  }
  .nav-btn:before {
    content: "";
    display: block;
    background-color: #c9dfec;
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #ccdff0 0%, #6997bb 40%);
    box-shadow: 0px -1px 2px 0 #065881 inset, 0px 1px 1px 1px #ccc;
  }
  .nav-btn:hover {
    background: #6997bb;
  }
  .nav-btn:hover:before {
    background-image: linear-gradient(to bottom, #c9dfec 0%, #0082C6 40%);
  }
}
@media (max-width: 991px) {
  /* Move nav down slightly to avoid unsightly overlap with coloured header background */
  nav {
    top: 3px;
  }
  /* Move menu left to prevent overflow off screen */
  #user-options-dropdown {
    left: -30px;
  }
  /* Add background to dropdown menu to match page background */
  .bg-pale {
    background-color: #f9f3f3;
  }
}
/*---------------------- Footer ---------*/
footer {
  background: linear-gradient(#294f8d 25%, #123056 50%, #d23836 50%, #840c0d 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 96px;
  color: #f9f3f3;
  font-family: "Graduate", serif;
  text-shadow: 1px 1px #10122b;
}
footer .copyright a {
  text-decoration: none;
  color: #c9dfec;
  font-weight: 700;
}

/*---------------------- Homepage ------------*/
.header-container {
  margin-top: 260px;
}

/* ---- */
.page-header {
  margin-top: 120px;
}

.card-body {
  color: #c9dfec;
}
.card-body .card-title {
  text-shadow: 2px 2px #10122b;
  font-weight: 700;
}
.card-body .card-subtitle {
  text-shadow: 1px 1px #10122b;
}

.team-card-container:nth-child(odd) .card-body {
  background: linear-gradient(#294f8d, #123056);
}

.team-card-container:nth-child(even) .card-body {
  background: linear-gradient(#d23836, #840c0d);
}

.pick-team-card:nth-child(even) {
  background: linear-gradient(#294f8d, #123056);
}/*# sourceMappingURL=base.css.map */