{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container page-header pt-5">
        <div class="row">
            <div class="col text-center">
                <h4 class="logo-font">
                    {% if request.user.is_authenticated %}
                        Choose one of the factions below to start creating your new team
                    {% endif %}
                </h4>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container main-page-text mt-2">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4 team-card-container">
            {% for team in teams %}
            <div class="col">
                <a href="{% url 'add_member_team' team.id %}" class="text-decoration-none">
                    <div class="card team-card">
                        <div class="card-body text-center">
                            <h5 class="card-title logo-font">{{ team.team }} </h5>
                            <p class="card-text logo-font">Tier {{ team.tier }}</p>
                        </div>
                    </div> 
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}