{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container page-header pt-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="display-4 logo-font">
                    My Teams
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container main-page-text mt-5">
        <div class="row">
            <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
                {% if request.user.is_authenticated %}
                    {% if teams == null %}
                        <p>It doesn't look like you've created a team yet!</p>
                    {% else %}
                        {% for team in teams %}
                        <div class="card team-card">
                            <div class="card-body">
                                <h5 class="card-title logo-font">{{ team.team_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{ team.team }}</h6>
                                <p class="card-text">{{ team.player_qty}}/16 Players</p>
                                <p class="card-text">{{ team.team_value }}TV</p>
                            </div>
                        </div>
                        {% endfor %}                      
                    {% endif %}
                {% else %}    
                    <p>Create an account to start building a team!</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}