{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container page-header pt-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="display-4 logo-font">
                    {{ team.team_name }}
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container main-page-text mt-2">
        <div class="row">
            <div class="col col-lg-10 offset-lg-1">
                <div class="team-card-container py-2">
                    <div class="card team-detail-card my-2">
                        <div class="card-body">
                            <h5 class="card-title logo-font text-center">{{ team.team }}</h5>
                            <div class="d-flex justify-content-around">
                                <p class="card-text logo-font d-flex flex-column">
                                    <span>{{ team.player_qty }}/16 Players</span>
                                    <span>Team Value: {{ team.team_value }} TV</span>
                                    <span>Current Team Value: {{ team.current_team_value }} TV</span>
                                    <br>
                                    <span>Assistant Coaches: {{ team.assistant_coaches }}</span>
                                    <span>Cheerleaders: {{ team.cheerleaders }}</span>
                                    <span>Apothecary: {{ team.apothecary_qty }}</span>
                                    
                                </p>
                                <p class="card-text logo-font d-flex flex-column">
                                    <span>Dedicated Fans: {{ team.dedicated_fans }}</span>
                                    <span>Team Re-rolls: {{ team.reroll_qty }}</span>
                                    <span>Treasury: {{ team.treasury }} GP</span>
                                    <br>
                                    <span>League Points: {{ team.league_points }}</span>
                                    <span>Total Touchdowns: {{ team.total_touchdowns }}</span>
                                    <span>Total Casualties: {{ team.total_casualties }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if request.user == team.manager %}
                        <div class="text-end mt-2">
                            <a href="#" class="btn bg-red-grad logo-font my-3" data-bs-toggle="modal" data-bs-target="#team-delete-modal">
                                Delete Team
                            </a>  
                            <!-- Delete Modal -->
                            <div class="modal fade" id="team-delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="team-delete-modal-label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title logo-font" id="team-delete-modal-label">Delete team?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-center mb-0 logo-font">Do you really want to delete '{{ team.team_name }}'?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn bg-red-grad logo-font" data-bs-dismiss="modal">Cancel</button>
                                            <a href="#" class="btn bg-blue-grad logo-font">Confirm Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'edit_member_team' team.id %}" class="btn bg-blue-grad my-3 logo-font">Edit Team Details</a>
                            
                        </div>
                    {% endif %}
                    <div class="table-responsive mt-3">
                        <table class="table table-striped">
                            <thead>
                            <tr class="logo-font">
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Position</th>
                                <th scope="col">MA</th>
                                <th scope="col">ST</th>
                                <th scope="col">AG</th>
                                <th scope="col">PA</th>
                                <th scope="col">AV</th>
                                <th scope="col">Skills</th>
                                <th scope="col">SPP</th>
                                <th scope="col">Current Value</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for player in players %}
                                <tr>
                                    <td>{{ player.player_no }}</td>
                                    <td>{{ player.player_name }}</td>
                                    <td>{{ player.position }}</td>
                                    <td>{{ player.ma }}</td>
                                    <td>{{ player.st }}</td>
                                    <td>{{ player.ag }}</td>
                                    <td>{{ player.pa }}</td>
                                    <td>{{ player.av }}</td>
                                    <td>{{ player.skills }}</td>
                                    <td>{{ player.spp }}</td>
                                    <td>{{ player.current_value }} GP</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>            
                {% if request.user == team.manager %}        
                    {% if team.player_qty < 16 %} 
                        <div class="text-end mt-2">
                            <a href="{% url 'teams' %}" class="btn logo-font bg-red-grad">Cancel</a>
                            <a href="{% url 'add_member_player' team.id %}" class="btn bg-blue-grad my-3 logo-font">Hire a New Player</a>
                        </div>           
                    {% endif %}
                {% endif %}
            </div>       
        </div>
    </div>
{% endblock %}