{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container page-header pt-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="display-4 logo-font">
                    My Teams
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container main-page-text mt-5">
        <div class="row">
            <div class="col col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
                {% if request.user.is_authenticated %}
                    <div class="team-page-content"></div>
                        {% if teams == null %}
                            <p>It doesn't look like you've created a team yet!</p>
                        {% else %}
                        <p>
                            Your teams are listed below. Click on a team to update it
                        </p>
                        <div class="team-card-container py-2">
                            {% for team in teams %}
                            <a href="{% url 'team_detail' team.id %}">
                                <div class="card team-card my-2">
                                    <div class="card-body">
                                        <h5 class="card-title logo-font">{{ team.team_name }}</h5>
                                        <h6 class="card-subtitle mb-2 logo-font">{{ team.team }}</h6>
                                        <p class="card-text logo-font d-flex justify-content-around">
                                            <span class="text-start">{{ team.player_qty}}/16 Players</span>
                                            <span class="text-end">{{ team.team_value }}TV</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            {% endfor %} 
                        </div>                     
                        {% endif %}
                        <a href="" class="btn btn-info my-3 logo-font">Create a New Team</a>
                    </div>
                {% else %}    
                    <p>
                        <a href="{% url 'account_login' %}" class="logo-font">Log in</a> 
                        or 
                        <a href="{% url 'account_signup' %}" class="logo-font">register an account</a> 
                        to start building a team!
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}