<ul class="ps-2 pt-3 me-4">
    <li class="list-inline-item dropdown">
        <a class="nav-link d-block d-lg-none" href="#" id="user-options-mob" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center account-div">
                <div><i class="top-nav-icon fas fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
            </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options-mob" id="user-options-dropdown">
            {% if request.user.is_authenticated %}
            
            <a href="{% url 'home' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>
    
</ul>